@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?5bcfza');
  src:  url('../../fonts/icomoon.eot?5bcfza#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?5bcfza') format('truetype'),
    url('../../fonts/icomoon.woff?5bcfza') format('woff'),
    url('../../fonts/icomoon.svg?5bcfza#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'rubikregular';
  src: url('../../fonts/rubik-regular-webfont.woff2') format('woff2'),
       url('../../fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
